*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
}
.container{
    background-color: rgb(7, 7, 51);
}

.navflex-container{
    display: flex;
    border: 0;
    justify-content: space-around;
    color: white;
}

.navflex-container h1,ul li{
    cursor: pointer;
    transition: 1s;
}
.navflex-container h1:hover,ul li:hover{
    color: yellow;
}
.navflex-container ul{
    display: flex;
    gap: 30px;
}
.navflex-container ul li{
    list-style-type: none;
}

.showcase{
    padding: 5rem;
    display: flex;
    justify-content: center;
    color: white;
}
.showcase .flexcontainer{
    display: flex;
    gap: 62px;
    justify-content: space-between;
}


span{
    padding: 8px 20px;
    background-color: rgb(59, 59, 215);
    text-align: center;
    border-radius: 20px;
    border: 20px;

}
/* SHOW CASE END */

.random{
    background: white;
    color: black;
    text-align: center;
    padding: 20px;
}

.random ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
    justify-content: center;
}

.randomDiv{
    border: 2px solid rgb(92, 92, 223);
    padding: 50px 15px;
    border-radius: 15px;
}
/* Random end */

/*Quote Start*/
.quoteContainer{
    padding: 60px;
    background-color: whitesmoke;
}
.quote{
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.quote p{
    font-style: italic;
}
.quote h4{
    font-size: 14px;
    padding: 0;
    text-align: right;
}