*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
}
.container{
    background-color: rgb(7, 7, 51);
}

.navflex-container{
    display: flex;
    border: 0;
    justify-content: space-around;
    color: white;
}

.navflex-container h1,ul li{
    cursor: pointer;
    transition: 1s;
}
.navflex-container h1:hover,ul li:hover{
    color: yellow;
}
.navflex-container ul{
    display: flex;
    gap: 30px;
}
.navflex-container ul li{
    list-style-type: none;
}

.showcase{
    padding: 5rem;
    display: flex;
    justify-content: center;
    color: white;
}
.showcase .flexcontainer{
    display: flex;
    gap: 62px;
    justify-content: space-between;
}


span{
    padding: 8px 20px;
    background-color: rgb(59, 59, 215);
    text-align: center;
    border-radius: 20px;
    border: 20px;

}
/* SHOW CASE END */

.random{
    background: white;
    color: black;
    text-align: center;
    padding: 20px;
}

.random ul{
    display: flex;
    gap: 40px;
    list-style-type: none;
    justify-content: center;
}

.randomDiv{
    border: 2px solid rgb(92, 92, 223);
    padding: 60px 15px;
    border-radius: 15px;
}
/* Random end */

/*Quote Start*/
.quoteContainer{
    padding: 40px;
    background-color: whitesmoke;
}
.quote{
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.quote p{
    font-style: italic;
}
.quote h4{
    font-size: 14px;
    padding: 0;
    text-align: right;
}

/*quote end*/

/*sign up section*/

.messageContainer{
    background-color: rgb(81, 81, 246);
    border-radius: 10px;
    display: flex;
    margin: 70px;
    justify-content: center;
}
.message h3{
    font-weight: 500;
    font-size: 16px;
}
.message{
    padding: 20px 50px;
    color: white;
    line-height: 10px;
}
.message2{
    padding: 20px 80px;
    color: white;
    justify-content: center;
    line-height: 10px;
}
.message p{
    font-size: 12px;
}

#sign{
    border: 1.5px solid white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.5s;
}

#sign:hover{
    background-color: white;
    color: black;
}
footer{
    background-color: rgb(7, 7, 51);
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 12px;
}